{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ article.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}



    <div class="container h-100">
       <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">

    <h1>{{ article.title }}</h1><h6>updated {{ article.updated }}</h6></br></br>
    {{ article.body | linebreaks |wordwrap:50 }}</br>
    </br>
 </br>
 </br>
 </br>
 <p>By {{ article.user.username }}</p>

            <p> <a href="{{ article.get_likes_url }}">Like </a>
                {% if  request.user == article.user %}
                <a href="{{ article.get_update_url }}"> Edit </a>
                <a href="{{ article.get_delete_url }}"> Delete </a>
                {% endif %}

            </p>
            <p>Likes: {{article.likes.count }}</p>

    <p>Comments</p>

        <ol class="list-group list-group-flush">

    {% for comment in comments %}
        <li class="list-group-item">{{ comment.content | linebreaks|wordwrap:15 }} posted by {{ comment.user.username }} {{comment.timestamp | timesince  }}  ago
        </li>
    {% endfor %}
        </ol><br/><br/>
    <form method="post" action="."> {% csrf_token %}
           {{ comments_form|crispy }}
    <input type="submit" value="Submit"/>
    </form>
        </div>
       </div>
       </div>
</br>
 </br>
 </br>



{% endblock content %}