{% extends 'base.html' %}


{% block head_title %}
    {{ article.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}

<div class="col-xs-6 col-xs-offset-3">

    <h1>{{ article.title }}<small>{{ article.created }}</small> </h1>
    {{ article.body | linebreaks }}</br>
    </br>

</div>



    {% for comment in comments %}
        {{ comment.content }}
    {% endfor %}
    <form method="post" action="."> {% csrf_token %}
           {{ comments_form.as_p }}
    <input type="submit" value="Submit"/>
    </form>



{% endblock content %}