{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


      <div class="container h-100">
       <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
    <form method="post" action=""> {% csrf_token %}
    {{ user_form|crispy }}
        {% if form.non_field_errors|crispy %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<input type="submit" value="Login"/>

    </form>
            </div>
</div>
  </div>
{% endblock %}